<!DOCTYPE html>
<html>

<head>
    <title>404 Not Found</title>
    <style>
        body {
            margin-top: 150px;
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            text-align: center;
            padding: 50px;
        }

        h1 {
            color: #333;
            font-size: 48px;
            margin-bottom: 20px;
        }

        p {
            color: #666;
            font-size: 24px;
            margin-bottom: 40px;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <%- include('NavBar') %>
        <h1>404 Not Found</h1>
        <p>The requested URL <%= url %> was not found on this server.</p>
        <a href="/">Go to Home Page</a>
</body>

</html>