<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        h1 {
            font-size: 2em;
        }
    </style>
</head>
<body>
    <h1>check sidebar for options</h1>
</body>
</html>